<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <body class="dark-gray">
    {{content}}
    <script type="text/javascript" src="/js/smooth-scroll.min.js"></script>
    <script type="text/javascript">smoothScroll.init();</script>
  </body>
</html>
